
<div class="container-fluid">
    <button mat-raised-button mat-fab color="accent" svgIcon="thumb-up" class="edit-button">
        <mat-icon>build</mat-icon>
    </button>
    <h1>Peter De Jong attractor</h1> 
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    
    <mat-slider thumbLabel min="-3" max="3" step="0.01" [(ngModel)]="inputA"></mat-slider>
    <mat-slider thumbLabel min="-3" max="3" step="0.01" [(ngModel)]="inputB"></mat-slider>
    <mat-slider thumbLabel min="-3" max="3" step="0.01" [(ngModel)]="inputC"></mat-slider>

    <div>
        A is {{inputA}}
        B is {{inputB}}
        C is {{inputC}}
    </div>
</div>



